@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color: #3d3d3d;
}

html.dark {
  color: #cacaca;
}

.grid-cols-notes {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.fill-animation:hover {
  /* color: whitesmoke; */
}

.fill-animation:before {
  content: "";
  position: absolute;
  background: #a1c4fde1;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  border-radius: 0.75rem;
  z-index: -1;
  -webkit-transition: top 0.2s ease-in;
}

.fill-animation:hover:before {
  top: 0;
}
